QLineEdit{
    border: 2px solid green;
    border-radius: 15px;
    background-color: silver;
}

QLabel{
    border: 2px solid black;
    border-radius: 12px;
    background-color: silver;
}

QDateEdit{
    border: 2px solid black;
    border-radius: 12px;
    background-color: silver;
}
