body{
    margin:0px;
    width: 100%;
    height: 666px;
}
.moto{
    position: relative;
    display: inline;
    width: 50%;
    height: 666px;
    float:left;
    background-color: antiquewhite;
}
.moto img{
    position: relative;
    width: 50%;
    height: 490px;
    left: 34%;
    top:5%;
    margin: 40px;
}
.cafe{
    position: relative;
    display: inline;
    width: 50%;
    height: 666px;
    float: right;
    background-color: darkseagreen;
}
.cafe img{
    position: relative;
    width: 50%;
    height: 50%;
    top:10%;
    left: 10%;
    margin: 40px;
}